<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Scraper App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesMai.css') }}">
    <script>
        function validateForm() {
            const checkboxes = document.querySelectorAll('input[type="checkbox"]');
            let checked = false;
            checkboxes.forEach((checkbox) => {
                if (checkbox.checked) {
                    checked = true;
                }
            });

            if (!checked) {
                alert("Please select at least one checkbox.");
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
    <h1 class="headermain">Software Eng. Final Project</h1>    
    <nav>
        <ul>
          <li><a href="/home">Start</a></li>
          <li><a href="/acknow">Acknowledgement</a></li>
          <li><a href="/aboutus">About us</a></li>
        </ul>
    </nav>
    <div class="principal">
        <div class="secondary1">
            <h2>Querys</h2>
            <div class="tertiary1">
                <form action="/home" method="post" onsubmit="return validateForm()">
                    <p class="bold">Location: </p>
                    <p><input type="text" name="location" value=""/></p>
                    
                    <p class="bold">Mode: </p>
                    <div class="checkbox-locations">
                        <label class="checkbox-location">
                            <input type="checkbox" name="mode" value="" id="part-time"> Part-time
                        </label><br>
                        <label class="checkbox-location">
                            <input type="checkbox" name="mode" value="" id="full-time"> Full-time
                        </label><br>
                    </div>
                    
                    <p class="bold">Technologies: </p>
                    <div class="checkbox-technology">
                        <label class="checkbox-item">
                            <input type="checkbox" name="technologies" value="Java" id="java"> Java
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="technologies" value="Automation" id="automation"> Automation
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="technologies" value="Python" id="python"> Python
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="technologies" value="C" id="c-lang"> C
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="technologies" value="C++" id="cpp-lang"> C++
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="technologies" value="C#" id="csharp-lang"> C#
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="technologies" value="Linux" id="linux"> Linux
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="technologies" value="DSP" id="dsp"> DSP
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="technologies" value="IoT" id="iot"> IoT
                        </label>
                    </div>

                    <p class="bold">Technical Skills: </p>
                    <div class="checkbox-techskill">
                        <label class="checkbox-item">
                            <input type="checkbox" name="techskills" value="Computer Vision" id="cv"> Computer Vision
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="techskills" value="Arduino" id="arduino"> Arduino
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="techskills" value="Wielding" id="wielding"> Wielding
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="techskills" value="Soldiering" id="soldiering"> Soldiering
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="techskills" value="Machining" id="machining"> Machining
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="techskills" value="Maintenance" id="maintenance"> Maintenance
                        </label>
                    </div>

                    <p class="bold">Hard Skills (Robotics): </p>
                    <div class="checkbox-robotics">
                        <label class="checkbox-item">
                            <input type="checkbox" name="robotics" value="Autonomous" id="autonomous"> Autonomous
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="robotics" value="Interface Design" id="interface"> Interface Design
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="robotics" value="HMI Programming" id="hmi"> HMI Programming
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="robotics" value="Electronics Design" id="electronics"> Electronics Design
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="robotics" value="Computational Models" id="models"> Computational Models
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="robotics" value="Machine learning" id="machine-learning"> Machine learning
                        </label>
                    </div>

                    <p class="bold">Hard Skills (Embedded): </p>
                    <div class="checkbox-embedded">
                        <label class="checkbox-item">
                            <input type="checkbox" name="embedded" value="Test Automation" id="test-automation"> Test Automation
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="embedded" value="Microcontrollers" id="microcontrollers"> Microcontrollers
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="embedded" value="Microprocessors" id="microprocessors"> Microprocessors
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="embedded" value="Firmware Development" id="firmware"> Firmware Development
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="embedded" value="Hardware Design" id="hardware"> Hardware Design
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="embedded" value="Sensor" id="sensor"> Sensor
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="embedded" value="Actuator" id="actuator"> Actuator
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="embedded" value="HIL" id="hil"> HIL
                        </label>
                    </div>

                    <p class="bold">Soft Skills: </p>
                    <div class="checkbox-softskill">
                        <label class="checkbox-item">
                            <input type="checkbox" name="softskills" value="Critical Thinking" id="critical-thinking"> Critical Thinking
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="softskills" value="Decision making" id="decision-making"> Decision making
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="softskills" value="Troubleshooting" id="troubleshooting"> Troubleshooting
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="softskills" value="Teamwork" id="teamwork"> Teamwork
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="softskills" value="Leadership" id="leadership"> Leadership
                        </label>
                        <label class="checkbox-item">
                            <input type="checkbox" name="softskills" value="Bilingual" id="bilingual"> Bilingual
                        </label>
                    </div>
                    <p><button type="submit" class="btn-submit">Submit</button></p>
                </form>
            </div>
        </div>
        <div class="secondary2">
            <h2>Results</h2>
            <div class="tertiary2">
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        <ul class="flash-messages">
                            {% for category, message in messages %}
                                <li class="{{ category }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                {% if jobs %}
                <ul>
                    {% for title, job in jobs.items() %}
                    <li>
                        <h3>{{ title }}</h3>
                        <p><strong>Company:</strong> {{ job['Company'] }}</p>
                        <p><strong>Place:</strong> {{ job['Place'] }}</p>
                        <p><strong>Salary:</strong> {{ job['Salary'] }}</p>
                        <p><strong>Published:</strong> {{ job['Published'] }}</p>
                        <p><strong>URLs:</strong>
                            {% if job['URLs'] %}
                            <ul>
                                {% for url in job['URLs'] %}
                                <li><a href="{{ url }}" target="_blank">Option {{ loop.index }}</a></li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <p>No URLs available</p>
                            {% endif %}
                        </p>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p></p>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>

