<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Scraper App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesWel.css') }}">
</head>
<body>
    <h1 class="headerwelcome">Welcome!</h1>
    <div class="divbuttonwelcome">
        <form action="/home" method="get">
            <button class="buttonwelcome">Start</button>
        </form>
    </div>
</body>
</html>